.pop-up{
    width: 100%;
    height: 100%;
    // min-height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.938), rgb(0, 0, 0));
    z-index: 99999;
    // position: relative;
    display: flex;
    // grid-column: 1/1;
    // grid-row: 1/1;
    position: fixed;
    top:0;
    left:0;
    max-height: 100svh;
    max-height: 100dvh;
    animation: open 0.5s linear forwards;
    flex-direction: column;
    overflow-y: auto;
    // height: auto;
    @media screen and (max-width:1200px) {
        background: linear-gradient(to top, rgb(0 0 0 / 96%), rgb(0, 0, 0));
    }

    @media screen and (max-height:430px){
        overflow-y: auto;
        height: auto;
    }
}

.disabled{
    opacity: 0;
    pointer-events: none;
}

@keyframes open {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.p-wrapper{
    width: 100%;
    
    height: 100%;
    @media screen and (max-width:900px) {
        // height: auto;
    }
}


.pop-carousel{
    padding: 0 4.16vw;
    width: 100%;
    height: 100%;
    display: flex;
    @media screen and (max-width:1250px) {
        padding: 0px 0px;
        overflow-y: auto;
    }
    @media screen and (max-width:900px) {
        padding: 0px 0px;
    }
}

.pop-wrapper{
    width: 100%; /* Spacing between rows */
    // text-align: center;
    // max-width: 800px;
    /* Center the container horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    height: 100%;
    @media screen and (max-width:900px) {
        // height: auto;
    }
    
}

.p-heading{
    color: white;
    font-size: 2vw;
    display: flex;
    width: 100%;
    padding: 40px 4.16vw 0 ;
    align-items: center;
    margin-bottom: 16px;
    // @media screen and (max-width:1600px) {
    //     // padding: 15px;
    //     font-size: var(--font-medium);
    // }
    @media screen and (max-width:1250px) {
        padding: 40px 40px 0;
        font-size: 24px;
        position: absolute;
        top: 0;
        z-index: 3;
    }
    @media screen and (max-width:900px) {
        padding: 20px 20px 0;
        font-size: 20px;
    }
}

.pop-name{
    width: min-content;
    text-wrap: nowrap;
    font-size: clamp(24px, 2vw, 40px);
    font-weight: 400;
    font-family: "Poppins";
    color: #f5f5f5;
    display: none;
    // font-size: var(--font-large);
    @media screen and (max-width:1250px) {
        font-size:clamp(18px, 2vw, 40px);
        font-weight: 600;
    }
}

.close{
    margin-left: auto;
    // width: 2rem;
    // height: 2rem;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    // border-radius: 50%;
    color: rgb(255, 255, 255);
    // background-color: white;
    opacity: 0.5;
    transition: opacity 0.5s ease;
    // font-size: var(--font-large);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:1250px) {
        font-size:30px;
        font-weight: 600;
        opacity: 1;
        color: #C9549D;
    }
}

.close:hover{
    opacity: 1;
}
.close:active{
    opacity: 1;
}

.pagers{
    display: flex;
    width: 100%;
    font-size: var(--font-medium);
    font-weight: 500;
    color: #ffffff;
    padding: 0px 4.16vw 4.16vw;
    margin-top: auto;

    @media screen and (max-width:1250px) {
        padding: 0px 40px 40px;
        // border-top: 1px solid white;
        
    }
    @media screen and (max-width:900px) {
        padding: 0px 20px 20px;
        // border-top: 1px solid white;
        
    }
}

.p-right{
    margin-left: auto;
}

.p-right, .p-left{
    text-wrap: nowrap;
    // color: rgba(255, 255, 255, 0.281);
    color: #ffffff;
    cursor: pointer;
    transition: color 0.5s ease;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;

}

.p-name{
    transition: color .5s ease-out .1s;
}
.right-name, .left-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: #ffffff;

    @media screen and (max-width:900px) {
        font-size: var(--font-large);
        border-bottom: 1px solid rgba(255, 255, 255, 0.452);
    }
    @media screen and (max-width:400px) {
        font-size: var(--font-medium);
    }
}
@media screen and (min-width: 1100px) {
    .p-right .p-name:hover, .p-left .p-name:hover{
        color: white;
    }
    .right-name:hover img, .left-name:hover img{
        // color: white;
        opacity:1;
    }
}

.p-right:active, .p-left:active{
    text-wrap: nowrap;
    color: white;
}

.p-right .right-name img, .p-left .left-name img{
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    opacity: 0.7;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    @media screen and (max-width:900px) {
        display: none;
    }
    
}

// .p-right .right-name img{
    // border-radius: 0% 100% 100% 0% / 47% 47% 53% 53%;
// }