.email-button button{
    background: none; /* Removes default background */
    border: none; /* Removes default border */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    outline: none; /* Removes default focus outline */
    box-shadow: none; /* Removes any default shadows */
    font: inherit; /* Ensures it inherits font styles from parent */
    color: inherit; /* Ensures it inherits color from parent */
    cursor: pointer; /* Ensures it still behaves like a button */
    margin-left: 0px;
    position: relative;
    z-index: 2;
}

.email-button{
    width: max-content;
  }
  

.email-button button{
    width: max-content;
    padding: 10px;
    background: #7163DE;
    border: 1px solid #201D06;
    box-shadow: 3px 6px 0px 1px black;
    color: #ffffff;
    font-size: var(--font-small);
    font-weight: 600;
    @media screen and (max-width: 1100px) {
      padding: 8px;
      // font-size: 10px;
      box-shadow: 2.5px 2px 0px 1px black;
    }
    @media screen and (max-width: 600px) {
        padding: 6px;
        // font-size: 9px;
        box-shadow: 2.5px 2px 0px 1px black;
        // width: 108px;
    
    }
}

.email-button button:hover{
    box-shadow: 1px 3px 0px 1px black;
    transform: translate3d(2px, 2px, 0px);
    @media screen and (max-width: 1100px) {
      box-shadow: 1px 1px 0px 1px black;
    }
}